/*centers the figcaption on the image and pulls the picture to the left*/
.profilePic {
	float: left;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

.profilePic {
	border: 1px solid blue;
}

/*float the h1 to the right*/
h1 {
	float: right;
}

/*wraps the main body elements in a div called "wrapper"*/
.wrapper {
	max-width: 500px;
	border: 1px solid red;
}

/*styling for the footer*/
.me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.social {
  text-align: center;
  font-size: 2.5em;
  color: #555;
  overflow: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  
  i {
    margin: .3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0);
    }
    i:hover {
      margin-top: -2px;
    }
    
    .icon #twitter:hover {
      color: #77DDF6;
    }

    .icon-github:hover {
      color: black;
    }

    .icon #linkedin:hover {
      color: #0177B5;
    }

    .icon #code:hover {
      color: #29A329;
    }

    .icon #stack:hover {
      color: #ED780E;
    }

    .icon#plus:hover {
      color: #D43402;
    }

    .icon#mail:hover {
      color: #F7B401;
    }
  
